.mainContent {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.mapContainer.mapboxgl-map {
    overflow: visible;
}

p {
    background-color: #ffffffdb;
    padding: 10px;
    border: 1px solid tomato;
}

p.active {
    background: tomato;
    color: white;
}

.item {
    text-align: center;
    margin: 10px;
    height: 70vh;
    width: 35%;
}

.tabpanel {
    height: 100%;
    width: 100%;
}

.tabpanel.tagList {
    overflow: auto;
}